@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);


*{
    margin: 0 auto; 
    padding: 0; 
    border-collapse: collapse;    
    box-sizing: border-box;
    font-family:'Noto Sans Korean',sans-serif !important;
    list-style: none;
}
html,body{
    height: 100%;
}
.bold{
    font-weight: 600;
}
.ta-c{
    text-align: center;
}
.w100{
    width: 100%;    
}
.w50{
    width: 50%;
}
.fl{
    float: left;
}
.fr{
    float: right; 
}
.fn{
    float: none;
}
.pd-0{
    padding:0 !important;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.wraps{
    background-color:#f9f9f9;
}
.wraps_footer{
    background-color: #2A2730;
}
.wrap{
    min-height: 100%;
}
.containers{
    padding-bottom: 1em;
}
.footer{
    margin-top: -1em;
    height: 1em;
}
.nobie_title{
    padding-left: 10px;
}
.footer{
    color: white;
}
.search-header{
    height:82px;
    padding-top: 30px;
}

header{
    width: 100%;
    float: left;
    .logo{
        height: 100px;
        float: left;
        margin-left: 30px;
    }
    .search-header{
        padding-top: 40px;
    }
    .search{
        width: 232px;
        height: 40px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 50px;
        float: left;
        input[type=text]{
            width: 170px;
            height: 36px;
            position: absolute;
            border: none;
            left: 5px;
            top: 1px;
            border-radius: 50px;
            padding-left: 5px;
            padding-bottom: 5px;
            &:focus{
                outline: 0;
            }
        }
        img{
            position: absolute;            
            height: 24px;
            right: 15px;
            top: 5px;
            cursor: pointer;
        }
    }
    .btn-login{
        width: 100px;
        height: 40px;
        border-radius: 50px;
        background: none;
        color: #777;
        border: 1px solid #ccc;
        margin-left: 8px;
    }
}
.today-header{
    width: 100%;
    float: left;    
    background: #474d5f;
    color: white;
    padding:20px 10px 20px 44px;        
    ul{
        li{
            float: left;
            margin-left: 50px;
            font-size: 20px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}
.date-main{
    top: 25px;
    font-size: 22px;
    left: -8px;
    width: 100%;
    text-align: center;
}
.today{    
    background: #fff;    
    .today-wrap{
        padding:0px;
        background: #fff;
        .today-st{              
            height: 370px;
            background-image:url(../../../resources/image/main%20navi-01.png);
            background-position: center;
            background-size: cover;
            .today-title{
                font-size: 20px;
            }
            .today-eng-title{
                font-size: 15px;
                margin-top: 5px;
                display: inline-block;
                color: #666;
            }
            .today-date{
                color: #999;
                margin-top: 5px;
                display: inline-block;
            }
        }
        .today-imgt{                      
            padding: 0;
            height: 370px;
            position: relative;
            .imgbox{
                background-image:url(../../../resources/image/kkk.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 370px;          
            }  
            .lbtn{
                left: 30px;
                height: 50px;
                top: 50%;
                transform: translate(0,-50%);
                -moz-transform: translate(0,-50%);
                -webkit-transform: translate(0,-50%);
                cursor: pointer;
            }
            .rbtn{
                right: 30px;
                height: 50px;
                top: 50%;
                transform: translate(0,-50%);
                -moz-transform: translate(0,-50%);
                -webkit-transform: translate(0,-50%);
                cursor: pointer;
            }
        }
    }
}
.today-rs{   
    padding: 15px;
    float: left;
    background: #fff;
    .rs-cont{
        min-height: 240px;
        width: 100%;
        float: left;
        background: #f9f9f9;
        border: 1px solid #e9e9e9;
    }
}
.genre{
    margin-top: 20px;    
    background: #fff;
    margin-bottom: 40px;    
    .genre-wrap{
        padding-left: 0;
        padding-right: 15px;        
        padding-bottom: 20px;
        .genre-menu{
            float: left;
            width: 100%;
            padding: 0;
            margin-bottom: 0;
            li{
                float: left;
                font-size: 12px;                
                border-top: 2px solid #444;                
                height: 50px;                
                padding-top:13px;
                transition:.3s;
                text-align: center;
                -moz-transition:.3s;
                -webkit-transition:.3s;
                padding-left: 0 !important;
                padding-right: 0 !important;                
                background: #fafafa;
                &:hover{
                    background: #e9e9e9;
                    cursor: pointer;
                }
            }
        }               
        .conts{
            padding: 3px;
            margin-top: 44px;
            border: 1px solid #e9e9e9;      
            background: #fff;
            box-shadow: 0 0 5px 0 #e1e1e1;
            .genre-cont-img{
                width: 100%;
                float: left;
                height: 305px;
                border: 1px solid #e9e9e9;
                background: #f9f9f9;
            }            
            .conts-cover{
                padding-top: 14px;
                padding-left: 14px;
                float: left;
                padding-bottom: 30px;

            }
            .genre-cont-title{
                display: inline-block;                
                font-size: 16px;                            
            }
            .genre-cont-subtitle{
                display: inline-block;
                margin-top: 5px;
                font-size: 13px;
                color: #777;
            }
            .genter-cont-gosu{
                display: inline-block;
                margin-top: 5px;
                font-size: 13px;
                color: #999;
            }
        }
    }
}
.gen{
    background: #f3f3f3;
    float: left;
    width: 100%;
    margin-top: 0;
    border-top: 1px solid #e9e9e9;
}
.active{
    background: #e9e9e9 !important;
}
.best-toon{
    background: #f3f3f3;
    padding-bottom: 20px;
}
.best-toon-title{
    padding-left: 15px;
    margin-bottom: 25px;
}
.add-toon{
    width: 100%;
    height: 52px;
    border: none;
    background: #ff6700;
    color: white;
    margin-top: 15px;
    padding-top:10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    .upload-con{
        height: 20px;        
        margin-top: 2px;
    }
    span{
        vertical-align: middle;
        margin-right: 20px;
    }
}
.rank{
    background: #f9f9f9;
    padding-bottom: 100px;
}
.rank-head{
    margin-top: 30px;
    font-size: 13px;    
    border-bottom: none;
    padding: 10px;
}
.rank-cont{
    width: 100%;
    float: left;
    padding: 20px 20px 20px 16px;    
    background: #fff;    
    color: #484848;
    span{
        margin-top: 15px;
        width: 100%;
        display: block;
        font-weight: 300;
        b{
            margin-right: 12px;
            text-align: center;
            display: block;
            width: 17px;
            float: left;
        }
        &:first-child{
            margin-top: 0;
        }
    }
}
.notice-head{
    margin-top: 30px;
    font-size: 13px;
    border-bottom: none;
    padding: 10px;
}
.notice-cont{
    width: 100%;
    float: left;
    padding: 20px 20px 20px 30px;
    background: #fff;            
    li{
        color: #484848;
        font-weight: 300;
        width: 100%;
        float: left;
        font-size: 12px;
        list-style: disc!important;    
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
    }    
}
.menu-box{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    button{
        width: 80px;
        margin: 0 10px 0 10px;
        height: 30px;
        border: none;
    }
}

.video-frame{
    width:100%;
    float: left;
    padding-top: 56%;
    position: relative;
    .none-video{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background: #ccc;
        .video-input{
            width:100%;
            height:100%;
            position: absolute;
            left:0;
            top:0;
            opacity:0;
            cursor: pointer;
            z-index:1;
        }
    }
    .video-box{
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        .lyric{
            text-align: center;
            width:100%;
            position: absolute;
            left:50%;
            bottom:30px;
            -webkit-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
            transform: translate(-50%,0);
            z-index:100;
            color:white;
            text-shadow: 0 0 2px #000;
            -moz-text-shadow: 0 0 2px #000;
            -webkit-text-shadow: 0 0 2px #000;
            font-size:24px;
            background-color:inherit !Important;
            border:none !important;
        }
        .video{
            width:100%;
            height:100%;
            position: relative;
        }
    }
    .timeline{
        width:100%;
        float: left;
        padding:5px;
    }
    .timeline2{
        width:100%;
        float: left;
        padding:5px;
    }
}
.lyric-time{
    height:100%;
    position: absolute;
    background: fade(#ff6700,50);
}
.lyric-time2{
    height:100%;
    position: absolute;
    background: fade(#1f7e9a,50);
}
.video-segment{
    width:100%;
    float: left;
    padding:5px;
    background: #595959;
    .video-control{
        width:100%;
        float: left;
        height:10px;
        background:#2d2d2d ;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
    }
}
.video-timeline{
    width:100%;
    float: left;
    background: #ccc;
    .timeline-title{
        width:100%;
        float: left;
        background: #595959;
        color:white;
        padding:5px 7px;
        border-top:1px solid #333;
    }
    .timeline-header{
        width:100%;
        float: left;
        padding:10px 7px;
        .tab-header{
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
            padding:5px 10px;
            color: white;
            background-color:#595959;
            float: left;
            text-align: center;
            margin-right:5px;
            cursor: pointer;
            &:last-child{
                margin-right:0;
            }
        }
    }
    .timeline-content{
        width:100%;
        float: left;
        background: #ccc;
        padding: 10px;
        padding-top:0;
        .timeline{
            width:100%;
            height:100px;
            float: left;
            background: #595959;
            border:1px solid #333;
            position: relative;
            .segment{
                width:1px;
                height:100%;
                background: #ccc;
                position: absolute;
                top:0;
            }
        }
        .timeline2{
            width:100%;
            height:100px;
            float: left;
            background: #595959;
            border:1px solid #333;
            position: relative;
            .segment2{
                width:1px;
                height:100%;
                background: #ccc;
                position: absolute;
                top:0;
            }
        }
        .timeline-timetxt{
            width:100%;
            float: left;
            position: relative;
            .times{
                position: absolute;
            }
            .times2{
                position: absolute;
            }
        }
    }
}
.audio-text{
    width:100%;
    float: left;
    .audio-txt-title{
        width:100%;
        float: left;
        .audio-txt-title-tab{
            text-align: center;
            padding:7px;
            background: #595959;
            color: #fff;
            width:50%;
            float: left;
            cursor: pointer;
            &:first-child{
                border-right:2px solid #444;
            }
        }
        .active-tab{
            background: #444;
        }
    }
    .audio-content{
        width: 100%;
        float: left;
        background-color: #444;
        .audio-txt-item {
            width:100%;
            padding: 7px;
            float: left;
            .audio-time-txt {
                padding: 10px;
                float: left;
                width: 100%;
                .audio-time-frame {
                    padding: 5px;
                    border: 1px solid #ccc;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    float: left;
                    .audio-time-input {
                        width: 50px;
                        background-color: inherit;
                        border: none;
                        color: white;
                        text-align: center;
                        &:focus {
                            outline: 0;
                        }
                    }
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }
        }
        .audio-content-txt{
            width:100%;
            float: left;
            padding:10px;
            padding-top:0;
        }
    }
    .txt-content {
        width: 100%;
        float: left;
        background-color: #444;
        .audio-txt-item {
            width:100%;
            padding: 7px;
            float: left;
            .audio-time-txt {
                padding: 10px;
                float: left;
                width: 100%;
                .audio-time-frame {
                    padding: 5px;
                    border: 1px solid #ccc;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    float: left;
                    .audio-time-input {
                        width: 50px;
                        background-color: inherit;
                        border: none;
                        color: white;
                        text-align: center;mhsfa
                        &:focus {
                            outline: 0;
                        }
                    }
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }
        }
        .audio-content-txt{
            width:100%;
            float: left;
            padding:10px;
            padding-top:0;
            .audio-txt{
                width:100%;
                height:100px;
                border: none;
                background: #595959;
                color:white;
                &:focus{
                    outline: 0;
                }
            }
        }
    }
}
.audio-wave{
    width:100%;
    height:130px;
    float: left;
    background: #595959;

}
.audio-footer{
    width:100%;
    padding:10px;
    float: left;
}
.cont-save-btn{
    float: right;
    border:1px solid #ccc;
    color: white;
    background: none;
    padding:5px 30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.spectrum{
    width:100%;
    float: left;
}


.active-tab2{
    background-color: #ff6700 !important;
}
#progress{
    background: #ff6700;
    height:100%;
    float: left;;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.video-ctr{
    width:100%;
    float: left;
    padding:5px;
    background: #595959;
    .ctr-ul{
        margin-bottom:0;
        display: table;
        li{
            float: left;
            padding:0 10px;
            img{
                cursor: pointer;
            }
        }
    }
}

.apdbtn {
    padding: 10px 15px;
    color:white;
    bo rder:none;
    background: #ff6700;
    float: none !important;
}
.load-btn{
    padding:7px 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:white;
    background: #ff6700;
    border:none;
}
.wavesurfer-region{
    background-color:fade(#ff6700,20) !important;
}
.audio-wave-info{
    width:100%;
    float: left;
    .time-cheker{
        width:100%;
        float: left;
    }
}

.white{
    color:white;
}

.orange-btn{
    padding:7px 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:white;
    background: #ff6700;
    border:none;
    
}

.audio-time-frame {
    padding: 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    .audio-time-input {
        width: 50px;
        background-color: inherit;
        border: none;
        color: white;
        text-align: center;
        &:focus {
            outline: 0;
        }
    }
    &:first-child {
        margin-right: 5px;
    }
}

.aut-contents{
    overflow-y: scroll;
    max-height: 796px;
}

.loading-block{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 11000;
    .loading-element{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
    }
}

//로딩

.actionCon {
	overflow:hidden;
	width:100%;
	height:80px;	 
    position: relative;
}
.actionType9_1,
.actionType9_2,
.actionType9_3 {
	 display:inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.actionType9_1 {
	width:30px;
	 height:30px;
	border:4px solid #fff;
	 border-radius:50%;
	 animation:ballScale1 1.6s ease-out infinite;
	 -webkit-animation:ballScale1 1.6s ease-out infinite;
}
@keyframes ballScale1{
0%{
	 transform:scale(.5);
	 -webkit-transform:scale(.5);
	opacity:0;
}
40%{
	opacity:1;
}
100%{
	transform:scale(1.5);
	 -webkit-transform:scale(1.5);
	opacity:0;
}}
@-webkit-keyframes ballScale1{
0%{
	 transform:scale(.5);
	 -webkit-transform:scale(.5);
	opacity:0;
}
40%{
	opacity:1;
}
100%{
	transform:scale(1.5);
	 -webkit-transform:scale(1.5);
	opacity:0;
}}
.actionType9_2 {
	 position:relative;
	 width:38px;
	 height:38px;
}
.actionType9_2 .circle {
	 position:absolute;
	 width:30px;
	 height:30px;
	 border:2px solid #fff;
	 border-radius:50%;
	 -webkit-border-radius:50%;
}
.actionType9_2 .circle:nth-child(1) {
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	 animation:ballScale2_1 1.6s ease-out infinite;
	 -webkit-animation:ballScale2_1 1.6s ease-out infinite;
}
.actionType9_2 .circle:nth-child(2) {
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	animation:ballScale2_2 1.6s ease-out infinite;
	 -webkit-animation:ballScale2_2 1.6s ease-out infinite;
}
@keyframes ballScale2_1{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
25%{
	border-style:dotted;
	opacity:1;
}
50%,100%{
	border-style:solid;
	transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	opacity:0;
}}
@-webkit-keyframes ballScale2_1{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
25%{
	border-style:dotted;
	opacity:1;
}
50%,100%{
	border-style:solid;
	transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	opacity:0;
}}
@keyframes ballScale2_2{
0%{
	 opacity:0;
}
20%{
	transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	opacity:0;
}
45%{
	opacity:1;
}
70%,100%{
	transform:scale(1.6,1.6);
	 -webkit-transform:scale(1.6,1.6);
	opacity:0;
}}
@-webkit-keyframes ballScale2_2{
0%{
	 opacity:0;
}
20%{
	transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	opacity:0;
}
45%{
	opacity:1;
}
70%,100%{
	transform:scale(1.6,1.6);
	 -webkit-transform:scale(1.6,1.6);
	opacity:0;
}}
.actionType9_3 {
	 position:relative;
	 width:34px;
	 height:34px;
}
.actionType9_3 .circle {
	 position:absolute;
	 width:30px;
	 height:30px;
	 border:2px solid #fff;
	 border-radius:50%;
	 -webkit-border-radius:50%;
}
.actionType9_3 .circle:nth-child(1) {
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	 animation:ballScale3_1 1.6s ease-out infinite;
	 -webkit-animation:ballScale3_1 1.6s ease-out infinite;
}
.actionType9_3 .circle:nth-child(2) {
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	animation:ballScale3_2 1.6s ease-out infinite;
	 -webkit-animation:ballScale3_2 1.6s ease-out infinite;
}
.actionType9_3 .circle:nth-child(3) {
	 transform:scale(1,1);
	 -webkit-transform:scale(1,1);
	animation:ballScale3_3 1.6s ease-out infinite;
	 -webkit-animation:ballScale3_3 1.6s ease-out infinite;
}
@keyframes ballScale3_1{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
30%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
50%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}
@-webkit-keyframes ballScale3_1{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
30%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
50%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}
@keyframes ballScale3_2{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
45%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
65%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}
@-webkit-keyframes ballScale3_2{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
45%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
65%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}
@keyframes ballScale3_3{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
60%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
80%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}
@-webkit-keyframes ballScale3_3{
0%{
	 transform:scale(.1,
.1);
	 -webkit-transform:scale(.1,
.1);
	opacity:0;
}
60%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:1;
}
80%,100%{
	transform:scale(1.5,1.5);
	 -webkit-transform:scale(1.5,1.5);
	opacity:0;
}}

