@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
textarea{
    resize: none;
    padding: 5px;
}
.w100fl{
    width:100%;
    float: left;
}

.tr2{
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}

.tr25{
    transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
}

.tr3{
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.tr35{
    transition: .35s;
    -moz-transition: .35s;
    -webkit-transition: .35s;
}

.position50{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.y50{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}


.title{
    font-size:40px;    
}
.sub_title{
    font-size: 28px;
}
.content{
    font-size: 18px; 
    line-height:1.7em;
}
.before{
    content: "";
    position: absolute;
}

.btn_0{
    width:120px;
    height: 35px;
    border:1px solid #333;
    background:none;
}
.btn_5{
    width:120px;
    height: 35px;
    border:1px solid #333;
    border-radius: 5px;
    background:none;
}
.bt_10{
    width:120px;
    height: 35px;
    border:1px solid #333;
    border-radius: 10px;
    background:none; 
}

.btn_15{
    width:120px; 
    height: 35px;
    border:1px solid #333;
    border-radius: 15px;
    background:none;
}

*,
*::before,
*::after {
    font-family: "Nanum Gothic";
    padding: 0;
    margin: 0 auto; 
    box-sizing: border-box;    
}

a {
    color: inherit;
    text-decoration: none
}

button:disabled {
    opacity: .5;
    cursor: default
}
.disabled{
    opacity: .5s;
    cursor: default;
}
.dd{
   pointer-events: none;
    opacity: 0.5;
    cursor: default;
}


h1,
h2,
h3,
h4 {
    font-weight: normal
}

h1 {
    font-size: 2.2em
}

h2 {
    font-size: 1.7em
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.3em
}

p {
    line-height: 1.7em;
    letter-spacing: .03em
}

.table {
    border-top: 1px solid #333;
    border-collapse: collapse;    
}

.table caption {
    padding: 5px;
    text-align: right
}

.table tr>* {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.table th {         
    font-weight: normal;
    color: #777;
    background: #f5f5f5;
    padding: 10px 5px;
    text-align: center
}

.table td {
    padding: 5px;    
    vertical-align: middle !important;
}

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12 {
    float: left;
    padding: 0 15px
}

.wrapper::after,
.container::after {
    clear: both;
    content: "";
    display: block
}

.g1 {
    width: 8.3333%
}

.g2 {
    width: 16.6666%
}

.g3 {
    width: 25%
}

.g4 {
    width: 33.3333%
}

.g5 {
    width: 41.6666%
}

.g6 {
    width: 50%
}

.g7 {
    width: 58.3333%
}

.g8 {
    width: 66.6666%
}

.g9 {
    width: 75%
}

.g10 {
    width: 83.3333%
}

.g11 {
    width: 91.6666%
}

.g12 {
    width: 100%
}

.w10 {
    width: 10%
}
.w15{
    width: 15%;
}
.w20 {
    width: 20%
}
.w25 {
    width: 25%
}

.w30 {
    width: 30%
}

.w40 {
    width: 40%
}

.w50 {
    width: 50%
}

.w60 {
    width: 60%
}

.w70 {
    width: 70%
}

.w80 {
    width: 80%
}

.w90 {
    width: 90%
}

.w100 {
    width: 100%
}

.w33 {
    width: 33.3333%
}

.w66 {
    width: 66.6666%
}
.h10{
    height: 10%;
}
.h20{
    height: 20%;
}
.h30{
    height: 30%;
}
.h40{
    height: 40%;
}
.h50{
    height: 50%;
}
.h60{
    height: 60%;
}
.h70{
    height: 70%;
}
.h80{
    height: 80%;
}
.h90{
    height: 90%;
}
.h100{
    height: 100%;
}
.trans1 {
    -webkit-transition: .1s;
    transition: .1s
}

.trans2 {
    -webkit-transition: .2s;
    transition: .2s
}

.trans3 {
    -webkit-transition: .3s;
    transition: .3s
}

.trans4 {
    -webkit-transition: .4s;
    transition: .4s
}

.trans5 {
    -webkit-transition: .5s;
    transition: .5s
}

.f1 {
    font-size: .9em
}

.f2 {
    font-size: 1.1em
}

.f3 {
    font-size: 1.2em
}

.f4 {
    font-size: 1.3em
}

.f5 {
    font-size: 1.4em
}

.z3 {
    z-index: 3
}

.z2 {
    z-index: 2
}

.z1 {
    z-index: 1
}

.z0 {
    z-index: 0
}

.z-1 {
    z-index: -1
}

.z-2 {
    z-index: -2
}
.p0{
    padding: 0 !important;
}
.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.p15 {
    padding: 15px
}

.p20 {
    padding: 20px
}

.p30 {
    padding: 30px
}

.p40 {
    padding: 40px
}

.p50 {
    padding: 50px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl30 {
    padding-left: 30px
}

.pl40 {
    padding-left: 40px
}

.pl50 {
    padding-left: 50px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr30 {
    padding-right: 30px
}

.pr40 {
    padding-right: 40px
}

.pr50 {
    padding-right: 50px
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.pv15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.pv30 {
    padding-top: 30px;
    padding-bottom: 30px
}

.pv40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.pv50 {
    padding-top: 50px;
    padding-bottom: 50px
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px
}

.ph15 {
    padding-left: 15px;
    padding-right: 15px
}

.ph20 {
    padding-left: 20px;
    padding-right: 20px
}

.ph30 {
    padding-left: 30px;
    padding-right: 30px
}

.ph40 {
    padding-left: 40px;
    padding-right: 40px
}

.ph50 {
    padding-left: 50px;
    padding-right: 50px
}

.m5 {
    margin: 5px
}

.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m20 {
    margin: 20px
}

.m30 {
    margin: 30px
}

.m40 {
    margin: 40px
}

.m50 {
    margin: 50px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px
}

.mv15 {
    margin-top: 15px;
    margin-bottom: 15px
}

.mv20 {
    margin-top: 20px;
    margin-bottom: 20px
}

.mv30 {
    margin-top: 30px;
    margin-bottom: 30px
}

.mv40 {
    margin-top: 40px;
    margin-bottom: 40px
}

.mv50 {
    margin-top: 50px;
    margin-bottom: 50px
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px
}

.mh15 {
    margin-left: 15px;
    margin-right: 15px
}

.mh20 {
    margin-left: 20px;
    margin-right: 20px
}

.mh30 {
    margin-left: 30px;
    margin-right: 30px
}

.mh40 {
    margin-left: 40px;
    margin-right: 40px
}

.mh50 {
    margin-left: 50px;
    margin-right: 50px
}
.pt100{
    padding-top: 100px;
}
.btd {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.bbd {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
}

.bld {
    border-left: 1px solid rgba(0, 0, 0, 0.15)
}

.brd {
    border-right: 1px solid rgba(0, 0, 0, 0.15)
}

.btl {
    border-top: 1px solid rgba(255, 255, 255, 0.15)
}

.bbl {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.bll {
    border-left: 1px solid rgba(255, 255, 255, 0.15)
}

.brl {
    border-right: 1px solid rgba(255, 255, 255, 0.15)
}

.bad{
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.bal{
    border: 1px solid rgba(255, 255, 255, 0.15)
}
.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.ab {
    position: absolute
}

.re {
    position: relative
}

.fix {
    position: fixed
}

.tc {
    text-align: center
}

.tl {
    text-align: left
}

.tr {
    text-align: right
}

.dn {
    display: none !important;
}
.dib{
    display: inline-block;    
}

.db{
    display: block
}

.bold {
    font-weight: 700
}

.normal {
    font-weight: 400
}

.vlight {
    font-weight: 200
}

.light {
    font-weight: 300
}

.minh100{
    min-height: 100% !important; 
}

.lh1 {
    line-height: 1em
}
button,
pointer {
    cursor: pointer
}

button {
    outline: 0
}

html,
body {
    color: #333;
    font-size: 18px;
    height: 100%;
    background: #fff;
    height: 100%;
}

section {
    background: #fff;
    position: relative;
    z-index: 1;    
}
.vm{
    vertical-align: middle;
}

.b-all{
    border: 1px solid #e9e9e9;
}
.oh{
    overflow: hidden;
}

.ln{
    list-style: none;
}
.dibimp{
    display: inline-block !important;
}
.tci{
    text-align: center !important;
}
.white{
    color:white;
}
.cp{
    cursor: pointer;
}
