/*!
 * webmovie.css v0.1.0 (https://www.toonivie.com/webmovie)
 * Copyright 2017 Ideaconcert
 * Licensed under *****
 * Author : shkwak
 * Date : 2017-06-07(Wed)
 */

.info {
  display: table-cell;
  vertical-align: top;
  width: 32.20339%;
  padding-left: 4%;
}

.info .title {
  color: #333;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 5px;
}

.info .artist {
  margin-bottom: 10px;
  padding-bottom: 8px;
  line-height: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.info .artist .thumbnail_new {
  display: inline-block;
  width: 30px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
  box-shadow: inset 0 0 1px black;
}

.info .info-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32.20339%;
  padding: 1.69492%;
}

.info .badge-list {
  display: inline-block;
  height: 17px;
  padding: 0 10px;
  margin-right: 6px;
  line-height: 17px;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background: #c5cbd3;
  border-radius: 4px;
}

/* ================================ */
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.lst_view td {
  border-bottom: 1px solid #D2D2D2;
  border-top: 1px solid #D2D2D2;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.lst_view .num {
  font-weight: 700;
  font-size: 33px;
  color: #3879D9;
}

.lst_view .date {
  font-size: 12px;
  color: #a2a2a2;
}

.lst_view .img {
  position: relative;
  width: 200px;
  padding: 7px 20px 7px 0;
}

.lst_view .tmb {
  display: inline-block;
}

.lst_view .tit {
  text-align: left;
  padding: 0px 20px;
}

.lst_view .tit .sub_title {
  font-size: 12px;
  color: #a2a2a2;
  padding-top: 3px;
}

.lst_view .coin {
  width: 110px;
  padding: 0px 20px 0 10px;
}

.lst_view .coin button {
  width: 85px;
  height: 35px;
  font-size: 15px;
}

.lst_view .coin button img {
  display: block;
  position: absolute;
  top: 10px;
  left: 5px;
}

.lst_view {
  font-size: 12px;
  font-family: "나눔고딕", NanumGothic, '맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',Helvetica,sans-serif;
  color: #474747;
  width: 100%;
  margin-bottom: 20px;
}

.free_bt {
  color: #FFFFFF;
  text-align: center;
  background: #3879D9;
  position: relative;
  cursor: pointer;
  height: 30px;
  padding-top: 3px;
}

/* ================================ */
.pdl-15 {
	padding-left: 15px;
}