@charset "UTF-8";



input.datinput {
	width: 120px;
	margin: 5px;
	font-size:13px;

}

.datinput:focus, #textarea_comment:focus,#textarea_dap:focus {
	outline: none;
	border-bottom-color: #000;
}

#textarea_comment {
	font-size: 13px;
	margin-top: 10px;
	float: left;
	text-align: left;
	overflow: hidden;
	width:723px;
}
#textarea_dap{
	font-size: 13px;
	float:left;
	margin-top:10px;
	text-align: left;
	overflow: hidden;
	width:646px;
}

#nickname, #pw, #textarea_comment, #textarea_dap {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.button {
	margin: 7px 10px;
}

input.cancel, .delete {
	width: 50px;
	height: 30px;
	background-color: #fff;
	border: 0;
}
.delete{
	line-height: 0px;
	float: right;
}


input.submit, .dap {
	width: 50px;
	height: 30px;
	background-color: #3879D9;
	border: 0;
	color: #fff;
}
input.dapsubmit{
	width:50px;
	margin-left:12px;
}

div.commentList {
	float: left;
	width: 94%;
}