@charset "UTF-8";
.panel-body {
	border: 1px solid #e5e5e5;
	padding: 15px 20px;
	overflow: hidden;
	font-size: 16px;
}

text-12 {
	font-size: 12px;
}

.text-red {
	color: red;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-muted {
	color: #999;
}
.panel-body textarea.form-control, textarea.form-dap {
	width:100%;
    height: 55px;
    background: #fafafa;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
}
.panel-body .btn-dgray {
    height: 55px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.btn-dgray {
    color: #fff;
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}

.btn-block {
    display: block;
    width: 100%;
    float: right;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
ul,ol{
	list-style:none;
	padding:0;
	margin:0;
}
.comments-list>li:nth-child(1){
	border-top:0;
}
.comments-list>li{
	position:relative;
	padding:15px 20px;
	border-top:1.2px solid #a5a5a5;
}
.comments-list .name{
	display: block;
	font-size:12px;
	font-weight:bolder;
	margin-bottom:5px;
}
strong{
	font-weight:700;
}
.comments-list .comment {
    display: block;
    font-size: 16px;
    color: #222;
    /* margin-right: 150px; */
    font-weight:300;
}
.comments-list time {
    margin-right: 10px;
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 300;
}
.comment_id,.comment_pw{
	width:19%;
    background: #fafafa;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    border:1px solid #d5d5d5;
    float: left;
    height:25px;
    font-size: 14px;
    color: #aaa;
    padding-left:8px;
}
.comment_id::placeholder,.comment_pw::placeholder,.dap_text::placeholder{
	color:#aaa;
	font-size:14px;
}
/* .comment_textarea::placeholder{
	color:#aaa;
	font-size:100px;
} */
/* #comment::placeholder{
	color:#aaa;
	font-size:14px;
} */
.comment_pw{
	margin-left:10px;
}
.mitjul{
	clear:both;
	width:100%;
}
textarea.form-dap{
	width:700px;
	height:60px;
}
textarea.form-dap::placeholder{
	font-size:10px;
	padding:0;

}
.btn-dap{
	border-radius: 0;
	width:111.734px;
	height:60px;
}
.dapli:nth-child(1){
	border-top: 0;
}
.dapli{
	border-top: 1px solid #d5d5d5;
}