@charset "UTF-8";

.total{
	float: left;
	width: 44%;
	margin-top: 60px;
	margin-left: 30px;
}
.total>p{
	float: left;
}
.commentwrap{
	float: left;
	width: 90%;
	margin-left: 30px;
}
.table{
	width:49%;
	float: left;
	font-size:14px;
}
.table>tbody>tr{
	cursor: pointer;
}
.choice3 {
    width: 60%;
    padding:12px 10px;
    border-radius: 50px;
    background: none;
    color: #777;
    font-size: 12px;
    border: 1px solid #ccc;
    line-height: 0;
    outline: none;
}
.commentwrap>.hide-comment{
	width:37%;
	height:588px;
	float: right;
	border: 1px solid #ccc;
	font-size:14px;
	position: relative;
}
.commentwrap>.hide-comment>h3{
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	width:100%;
}
.commentwrap>form{
	width:37%;
	padding:20px 40px 40px 40px;
	float: right;
	border: 1px solid #ccc;
	font-size:14px;
}
.commentwrap>form>h2{
	margin-bottom:30px;
	font-size:30px;
}
.commentwrap>form label{
	float: left;
	font-size:16px;
}
.commentwrap>form .tno-group{
	width: 49%;
	float: left;
}
.commentwrap>form .writer-group{
	width:49%;
	float: right;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
  font-size:14px;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  font-size:14px;

}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
  padding-right:11px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #666;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #666;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
.noticeforcomment{
	clear: both;
	float: left;
}



