.logins{
    position: relative;
}
.login-form{
    position: absolute;
    left: 50%;
    top: 50%;   
    border: 1px solid #ccc;
    background: #f9f9f9;
     transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    padding: 50px 80px;
    text-align: center;
    .login-title{
        color: #F38900;
    }
    .login-subtitle{
        color: #999;
    }
    .login-id{
        margin-top: 60px;
    }
    .lg-input{
        width: 100%;      
        height: 40px;
        border: 1.5px solid #e0e0e0;
        padding-left: 5px;
    }
    .login-pw{
        margin-top: 10px;
    }
    .submits{
        width: 100%;
        height: 40px;
        margin-top: 10px;
        background: #f38900;
        color: white;
        border: none;
    }
    .joins{
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e0e0e0;
        .join-btn{
            background: #fff;
        }
        .half-find{
            width: 50%;
            margin-top: 20px;
            display: inline-block;
            float: left;
            border-right: 1px solid #e0e0e0;
            font-size: 12px;
            color: #999;
            &:last-child{
                border-right: none;
            }
        }
    }
}
.join-wrap{
    background: #fff;
    padding: 30px;
    margin-top: 100px;
    border: 1px solid #e0e0e0;
    table{
        width: 100%;
        tr{
            td{
                border-bottom: 1px solid #e9e9e9;
                padding: 20px;                
                &:first-child{
                    text-align: right;
                    margin-right: 10px;
                }
                input{
                    height: 30px;       
                    padding-left: 10px;
                    width: 230px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                button{
                    width: 90px;
                    height: 30px;
                    background: #e9e9e9;
                    border: 1px solid #e0e0e0;
                }
            }
        }
    }
}
.table-wrap{
    padding:10px 50px 10px 50px;
}
#subm{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background: #e9e9e9;
    border: 1px solid #e0e0e0;
    float: right;
}