@charset "UTF-8";

#memberwrap {
	width: 90%;
	margin-top: 60px;
	margin-left: 30px;
	height: 800px;
}

.Total {
	float: left;
}

#memberlist {
	width:65%;
	line-height:40px;
	font-size: 15px;
	float: left;
}
.head {
	background-color: #eee;
	border-top: 1px solid #000;
}

#mtr {
	border-bottom: 1px solid #ccc;
}

#mth, #mtd {
	text-align: center;
}

.choice_box {
	width: 20%;
}

.choice {
	width: 30%;
	height: 33px;
	border-radius: 50px;
	background: none;
	color: #777;
	border: 1px solid #ccc;
	line-height: 0;
	outline: none;
}

input {
	font-size: 13px;
}
.form-modify{
	display: none;
}

#form1 {
	font-size: 15px;
}

.info-modify {
	width:33.5%;
	height:58%;
	border:1px solid #ccc;
	margin-left: 20px;
	float: right;
}
.info-modify > p{
	text-align: center;
	margin-top:45%;
	color:#bbb;
}
.login-form{
	float: right;
	width:100%;
}

#checkbtn {
	width: 13%;
	height: 34px;
	background: #f38900;
	border: 0;
	color: #fff;
	font-size: 12px;
}

.submit-btn {
	width: 100%;
	border-radius: px;
	border: none;
	padding: 13px 0;
	background: #ff6700;
	color: white;
	font-size: 16px;
}

.mtr_list:hover {
	background-color: #eee;
}