@charset "UTF-8";
* {
	background-color: none;
}

header {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	/* min-width: 1000px; */
	box-shadow: 0 0 5px 0 #000;
	padding-bottom: 15px;
}

header #header_info {
	width: 250px;
	float: right;
	padding-top: 15px;
	font-size: 17px;
}

header #header_info span {
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}

.nav-tabs>li>a {
	margin: 0;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 0;
	line-height: 1.42857143;
}

header #header_info button {
	width: 90px;
	height: 30px;
	border-radius: 5px;
	background: #555;
	color: white;
	border: 1px solid #ccc;
}

#admin_cont {
	width: 100%;
	float: left;
	height: 92%;
	padding-top: 5px;
	text-align: center;
}

.mybook-spot {
	background: #3b3b3f;
	padding:20px 0;
	margin-bottom: 25px;
	text-align: center;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.mybook-spot>.id {
	color: #fff;
	font-size: 16px;
}

.mybook-spot .id em {
	color: #95b0e7;
	font-style: normal;
}

.inner {
	width: 67%;
	margin: 0 auto;
}
.inner>img{
	width:8%;
}
.inner>.idInfo{
	color: #fff;
	line-height: 50px;
}
.tab-v2 {
	background: #fafafa;
	border: 1px solid #e5e5e5;
	border-width: 1px 1px 0 1px;
}
.tab-v2>li{
	background: none;
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	clear: both;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.tab-v2.num7>li {
	width: 14.2857142857%;
	border-radius: 0;
}

.tab-v2>li.active {
	position: relative;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.tab-v2>li:first-child {
	border-left: 0;
}

.tab-v2>li {
	margin: 0;
	border-left: 1px solid #e5e5e5;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav>li {
	position: relative;
	display: block;
}

.wbox {
	padding: 35px 20px;
	background: #fff;
	border: 1px solid #e5e5e5;
	height:400px;
}
.wbox>.order5text{
	float: left;
	color: #95b0e7;
}
#serarchIcon{
	float: right;
	width:100%;
}
#myTable{
	margin-top: 70px;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.nav-tabs>li.active> , .nav-tabs>li.active:focus, .nav-tabs>li.active:hover
	{
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.mybook-srch {
	width: 100%;
	border-bottom: 2px solid #d5d5d5;
}

.mybook-srch .form-control {
	display: inline-block;
	width: 100%;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 6px 0 6px 0;
}

.mybook-srch .btn {
	color: #b9b9b9;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 15%;
	float: right;
	padding: 6px 12px 6px 0;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}
.lists>li{
	float: left;
	width: 16.7746%;
	margin-bottom: 25px;
	
	border: 1px solid #ccc;
	margin: 0 30px 0px 10px;
	padding:10px;
	border-radius: 5px;
}
.lists>li:nth-child(1){
	margin-left:0;
}
.thumb{
	display: inline-block;
}
.m-b-5{
	margin-bottom:5px;
}
.lists>li a {
    display: block;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}
.tit {
    display: block;
    font-weight: 400;
    color: #222;
    font-size: 17px;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cate {
    display: block;
    font-size: 13px;
    color: #8c8cdd;
}
.thumbnail{
    width: 100%;
    height:150px;
    float: left;
    border: 1px solid #e9e9e9;
}
.text-left{
margin-left:7px;
}
