@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(/resources/common/fonts/eot/NotoSansKR-Thin-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Thin-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Thin-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(/resources/common/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(/resources/common/fonts/eot/NotoSansKR-DemiLight-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(/resources/common/fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(/resources/common/fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(/resources/common/fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(/resources/common/fonts/eot/NotoSansKR-Black-Hestia.eot),
    url(/resources/common/fonts/eot/NotoSansKR-Black-Hestia.eot?#iefix) format('embedded-opentype'),
    url(/resources/common/fonts/woff/NotoSansKR-Black-Hestia.woff) format('woff'),
    url(/resources/common/fonts/otf/NotoSansKR-Black-Hestia.otf) format('opentype');
}