.outerDiv {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    text-align: center;
}
.outerDiv span {
    color: white;
    font-weight: bold;
    position: relative;
    height: 0;
    display: block;
}
.innerDiv {
        width: 0;
        border-radius: 5px;
        background-color:#20beca;
        width: 100%;
        height: 20px;
        float:left;
}