@charset "UTF-8";
.sliderwrap {
	width:95%;
	margin-top:60px;
	margin-left:30px;
	height:800px;
}
.all{
	width:60%;
	float: left;
}
.scroll {
	width:100%;
	float:left;
	height:630px;
	overflow:auto;
}
#sliderlist {
	width:100%;
	line-height:40px;
	font-size:15px;
}
#sth,#std {
	text-align:center;
}
#std {
	height:50px;
	border-bottom:1px solid #ccc;
}
#bannerList_img {
	width:350px;
	padding:10px;
}
.uploadwrap {
	width:40%;
	float:right;
	margin-top:-15px;
}
.bannerbox {
	width:100%;
}
.bannerbox input[type="file"] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0;
}
.bannerbox label {
	display:inline-block;
	padding:.3em .75em;
	color:#fff;
	font-weight:normal;
	line-height:normal;
	vertical-align:middle;
	cursor:pointer;
	border:none;
	border-radius:.25em;
	margin-top:4px;
	background-color: #272d47;
}
/* named upload */
.bannerbox .upload-baner {
	display:inline-block;
	padding:.5em .75em;
	/* label의 패딩값과 일치 */
	line-height:normal;
	vertical-align:middle;
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	border-bottom-color:#e2e2e2;
	border-radius:.25em;
	width:80%;
	color:#666;
	padding-left:2px;
	font-size:15px;
}
.banner-upload-btns {
	width:91%;
	margin-right:28px;
	float: right;
}
.label {
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4;
}
.img {
	width:36.5%;
	height:350px;
	overflow:hidden;
	margin-top:30px;
	float:right;
	margin-right:28px;
}
.btn-gray {
	width:49%;
	border:none;
	background:#272d47;
	color:#fff;
	height:40px;
	font-weight:300;
}
.bth-gray:first-child {
	float:left;
}
.btn-gray:last-child {
	float: right;
}
.p{
	border: 1px solid #ccc;
	height:350px;
}
.p>h4{
	color: #bbb;
	margin-top:23%;
	display: block;
	/* vertical-align: middle; */
}
.p>img{
	display: block;
	vertical-align: middle;
}
#blah{
	width: 100%;
	display: block;
	vertical-align: middle;
}



#order_btn{
	margin-top:-45px;
	margin-bottom:10px;
	border: none;
    background: #272d47;
    color: white;
    padding:.80em .90em;
    float: right;
}