@charset "UTF-8";
.btn-my{
	position:relative;
	float: right;
	margin-right: 12%;
}
.btn-my>span{
	width:100%;
	text-align: center;
	margin: 0 auto;
	display: block;
	vertical-align: middle;
	margin-top:8px;
}
.myul{
	position: absolute;
	top: 102%;
	width: 100%;
	display: none;
	background-color: #fff;
}
.MYLIST{
	text-align: center;
	padding: 7px 0;
}
.MYLIST:nth-child(2),.MYLIST:nth-child(3),.MYLIST:nth-child(4){
	border-top: 1px solid #ccc;
}