body,html{
    height: auto !important;
}
.banner{
    padding: 0 !important;
    .banner-frame{
        overflow: hidden;
        position: relative;
        height: 350px;
        border: 1px solid #e9e9e9;
        background: #fff;
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
        }
    }
}
.intro{
    background: #fff;
    border: 1px solid #e9e9e9;
    border-left: none;
    height: 350px;
    padding: 25px 30px !important;    
    .intro-title{
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 10px;
        .genre{
            color: #ff6700;
        }       
        .title-intro{
            font-size: 30px;
            color: #464646;
        }
        .dib{
            display: inline-block;
            color: #464646;
        }
        .intro-artist{
            margin-left: 20px;
            color: #777;
        }
    }
    .intro-cont{
        font-size: 13px;
        padding-top: 20px;
        color: #888;
        p{
            line-height: 1.8em;
        }
    }
}
.intro-btnzone{
    margin-top: 35px;
    padding-top: 20px;
    button{
        width: 48%;
    }
    .read{
        border: 1px solid #ff6700;
        color: #ff6700;
        height: 50px;
    }
    .gofirst{
        height: 50px;
        background: #ff6700;
        border: none;
        color: white;
        margin-left: 3%;
    }
}
.list-cont{
    margin-top: 100px;    
    .list-header{
        color: #555;
        .week{
            font-size: 18px;
        }
        .sort-type{
            font-size: 18px;
            .at-first{
                margin-left: 30px;
            }
            span{
                position: relative;
                transition: .25s;
                -moz-transition: .25s;
                -webkit-transition: .25s;
                
                cursor: pointer;
                &::before{
                    content: "";
                    width: 100%;
                    position: absolute;
                    height: 2px;
                    background: #ff6700;                    
                    left: 0;
                    bottom: -5px;
                    transition: .25s;
                    -moz-transition: .25s;
                    -webkit-transition: .25s;
                    opacity: 0;
                }
                &:hover{
                    color: #ff6700;
                    &::before{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .list-toon{
        border: 1px solid #e9e9e9;
        margin-top: 22px;
        margin-bottom: 22px;
        padding: 30px;
        .toon{
            border-top: 1px solid #e9e9e9;            
            min-height: 120px;
            &:last-child{
                border-bottom: 1px solid #e9e9e9;
            }
            .toon-no-box{
                width: 17%;
                float: left;
                padding-top: 10px;
                padding-bottom: 10px;
                .toon-no{
                    font-size: 40px;
                    margin-top: 5px;
                    color: #ff6700;
                }
                .toon-date{
                    color: #777;
                    font-size: 14px;
                }
            }
            .toon-img-box{
                width: 23%;
                height: 120px;
                float: left;
                padding-top: 4px;
                padding-bottom: 4px;
                .toon-img{
                    width: 100%;
                    height: 114px;
                    float: left;
                    background-image:url(../../image/55.jpg);
                    background-size: cover;
                    background-position: center;   
                    margin-top: -2px;
                }
            }
            .toon-title-box{
                width: 50%;
                float: left;
                padding-top: 50px;
                padding-left: 20px;
                color: #555;
            }
            .toon-pay-box{
                width: 10%;
                float: left;
                padding-top: 50px;
                .free-coin{
                    width: 16px;
                }
                .hp{
                    display: inline-block;                         
                }
            }
        }
    }
}
.view-header{
    background: #eee;
    border:1px solid #d4d4d4;
    padding-top: 30px;
    padding-bottom: 30px;
    .wpp{
        width: 150px;
    }
    .bookmark{
        width: 15px;
        display: block;
        float:left;
        margin-top: 5px;
    }
    .ep-no{
        font-size: 24px;     
        display: block;
        width: 80px;
        float:left;
    }
}
.view-frame{
    margin-top: 500px;
    margin-bottom: 500px;
}
.reple-view{
    border-top: 1px solid #d4d4d4;
    padding-top: 40px;    
    .reple-artist-word{
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 40px;
        .artist-word{
            font-size: 20px;
            color: #454545;
        }
        .reple-artist-name{
            font-size: 16px;
            color: #777;
            margin-left: 10px;
        }
        .reple-artist-content{
            color: #888;
            line-height: 1.8em;            
        }        
    }   
    .reple-reader-header{   
        padding-top:60px;
        .post-word{
            font-size: 20px;
            color: #494949;
        }
        .word-count{
            font-size: 16px;
            color: #ff6700;
            margin-left: 10px;
        }
    }
    .reple-reader-form{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
        .reple-area{
            width: 83%;
            height: 190px;
            border: 1px solid #d4d4d4;
            float:left;
            padding: 18px 20px;
            .reader-name{
                color: #454545;
                width: 100%;
                float: left;
            }
            .reader-txtarea{
                width: 100%;
                float: left;
                height: 140px;
                margin-top: 10px;
                border: none;
                color: #888;
                padding:5px;
                resize: none;
                &:focus{
                    outline: 0;
                }
            }
        }
        .reple-addbtn{
            width: 16%;
            height: 190px;
            margin-left: 1%;
            float: left;
            background: #ff6700;
            color: white;
            font-size: 18px;
            border: none;
        }
    }
    .reple-list{
        margin-top: 55px;
        .reple-sort-option{
            font-size: 18px;
            .at-first{
                margin-left: 20px;
            }
            .at-ddabong{
                margin-left: 20px;
            }
        }
        .reple{
            border-radius: 15px;
            border: 1px solid #d4d4d4;
            min-height: 100px;
            margin-top: 25px;
            padding: 16px 28px;
            background: #eee;
            &:last-child{
                margin-bottom: 100px;
            }
            .reple-header{
                width: 100%;
                float: left;
                color: #484848;
                .reple-post-date{
                    margin-left: 10px;
                    color: #777;
                }
            }
            .reple-cont{
                margin-top: 30px;                
                p{
                    line-height: 1.8em;
                    color: #888;
                }
            }
            .reple-footer{
                width: 100%;
                float: left;
                margin-top: 30px;
                .rereple{
                    color: #4478a4;
                }
                .reple-arr{
                    width: 11px;
                    margin-left: 5px;
                }
                .ddabong{
                    width: 15px;
                }
                .ddabong-count{
                    margin-left: 5px;
                    margin-right: 10px;
                    color: #0043cc
                }
                .unddabong-count{
                    margin-left: 5px;
                    margin-right: 10px;
                    color: #fa0000;
                }
                .unddabong{
                    width: 15px;
                }
            }
        }
    }
}


.floatmenu{
    width: 160px;
    min-height: 300px;
    border: 1px solid #d4d4d4;
    position: fixed;
    right: 100px;
    background: #fff;
    top: 50%;
    visibility: hidden;
    transform: translate(0,-50%);
    -moz- transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    .floatheader{
        padding: 9px;
        width: 100%;
        border-bottom: 1px solid #d4d4d4;
        float: left;
        .close-btn{
            width: 12px;
            float: right;
            cursor: pointer;
        }
    }
    .floatcontent{
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 30px;
        .float-genre{
            font-size: 14px;
            color: #888;
        }
        .float-title{
            margin-top: 25px;
            font-size: 16px;
            color: #555;
        }
        .float-name{
            margin-top: 10px;
            font-size: 14px;
            color: #888;
        }
    }
    .floatremote{
        padding: 7px;
        background: #f9f9f9;
        border-bottom: 1px solid #d4d4d4;
        .arr-up{
            text-align: center;
            img{
                width: 15px;
                cursor: pointer;
            }
            span{
                color: #777;
                font-size: 13px;
                cursor: pointer;
            }
        }
         .arr-down{
            text-align: center;
            img{
                width: 15px;
                cursor: pointer;
            }
            span{
                color: #777;
                font-size: 13px;
                cursor: pointer;
            }
        }
        .arr-middle{
            img{
                height: 15px;
                cursor: pointer;
            }
            span{
                font-size: 13px;
                color: #777;
                cursor: pointer;
            }
        }
    }
    .floatshare{
        float: left;
        img{
            width:20px;
            margin: 10px;
            cursor: pointer;
        }
    }
}

