.popup-blackbg{
	width: 100%;
	height: 100%;
	background: fade(#000,70);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 10100;
}
.heedo-popup {
	min-width: 100px;
	min-height: 100px;
	background: #fff;
	box-shadow: 0 0 10px 0 #333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	display: none;
	z-index: 10101;
}
.header-bar{
	height: 60px;
 	background: #F0F0F0;
 	position: relative; 	
	.logo-zone{
		height: 100%;
		position: relative;
		padding-top: 17px;
		text-align: center;
		width: 15%;
		.upload-logo{		
			height: 23px;
		}
	}
	ul{		
		height: 100%;				
		margin-right: 40px;
		float: right;
		margin-bottom: 0 !important;
		li{			
			float: left;
			height: 100%;
			vertical-align: middle;
			padding: 19px;						
			a{
				color: #A9A9A9;
			}
		}	
	}
}	

.header-cont{
	width: 50%;
	min-width: 830px;
}
.canvas{
	overflow: hidden;
	position: relative;
	.right-menu{
		position: absolute;
		right:-300px;
		top: 50%;		
		transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-webkit-transform: translate(0,-50%);		
		.arrow{
			width: 50px;
			height: 50px;
			background: #4A4A51;			
			cursor: pointer;								
			position:absolute;
			left: -50px;
			top: 50%;
			transform: translate(0,-50%);
			-moz-transform: translate(0,-50%);
			-webkit-transform: translate(0,-50%);		
		}
		.right-menu-inside{
			position: relative;
			width:300px;
			height: 100%;
			background: #4A4A51;
			float: left;
			padding: 25px;
		}
	}
	.left-menu{
		position: absolute;
		left: -250px;
		top: 50%;
		transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-webkit-transform: translate(0,-50%);		
		background: #fff;		
        z-index: 1000;
		.octagon {
			width: 300px;
			background: #4A4A51;
			position: relative;
			cursor: pointer;
			.arrow-box{
				width: 50px;
				position: relative; 		
				.arrow{
					height: 40px;
				}
			}
			&::before{		
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				border-bottom: 34px solid #4A4A51;
				border-left: 34px solid #fff;
				border-right: 50px solid #fff;
				width: 300px;
				height: 0;		
			}
			&::after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				border-top: 34px solid #4A4A51;
				border-left: 34px solid #fff;
				border-right: 50px solid #fff;
				width: 300px;
				height: 0;						
			}
		}
				
	}
	.left-menu2{			
		position: absolute;
		background: #4A4A51;
		left: -80px;
		top: 50%;
		transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-webkit-transform: translate(0,-50%);		
        z-index: 1000;
		.left-menu-control{
			background: #323235;
            .tabs{
                width: 100%;
                height: 100%;
                float: left;
            }
			.tabs-son{
				height: 10%;								
				text-align: center;
				color:#BBBBBB;
				font-size: 12px;	
                position: relative;
				cursor: pointer;
				padding-bottom: 5px;				
                .tabs-imgs-frame{
                    width: 40%;
                    padding-top: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;      

                }
			}
			.tabs-son-close{
				height: 10%;	
				float: left;
				text-align: center;
				color:#BBBBBB;
				font-size: 12px;
				cursor: pointer;
				padding-bottom: 5px;
				 .tabs-imgs-frame{
                    width: 40%;
                    padding-top: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;                          
				}
			}
		}
		.left-menu-tabs-frame{
			width: 0;
			height: 100%;
			float: left;
			overflow-y: hidden;			
			.left-menu-cont{				
				float: left;
				width: 300px;
				height: 100%;
				background: #4A4A51;					
				.efp{
					padding-left: 5px !important;
					padding-right: 5px !important;
				}
				.effect{										
					padding: 5px;					
					.effect-frame{
						background: #323235;
						height: 110px;	
						position: relative;
						cursor: pointer;
						img{
							width: 80%;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%,-50%);
							-moz-transform: translate(-50%,-50%);
							-webkit-transform: translate(-50%,-50%);
						}
					}
					
				}
				.effect-direction-hr{
					border-top: 2px solid #5e5e66;
					width: 100%;
					float: left;
				}
				.effect-direction-detail{
					width: 100%;
					float: left;					
					padding: 15px;
					border: 2px solid #bbb;
				}
						
				.cont1{
					padding-left: 20px;
				}
				.cont2{
					.cont2-ef{
						padding-left: 20px;
						color: #323235;
					}
				}
				.cont3{
					.cont3-ef{
						padding-left: 20px;
						color: #323235;
					}
				}
				.menu-effect-cont{
					color: #bbb;
					width: 100%;
					float: left;					
					
					.menu-effect-cont-table{
						width: 100%;
						float: left;
						margin-top: 15px;
						tr{
							td{
								padding:5px;
								.location{															
									border: none;
									padding: 3px;
									font-size: 12px;
									background: #fff;
									color: #323235;								
								}
							}
						}
					}					
				}
				.not-yet{
					color: #ff8c24;
				}				
			}
		}
	}
	.upload-zone{
		background: #f9f9f9;
		border: 1px solid #d4d4d4;
		min-width: 100px;
		min-height: 100px;
		padding: 30px;
		.upload-head{
			width: 590px;
			.max-size{
				margin-left: 10px;
				b{
					font-weight: 500;
					color: #FF8C24;
				}
			}
		}
		.upload-imgs-wrap{	
			width: 590px;
			margin-top: 20px;
			float: left;
			height: 300px;
			position: relative;
			.img-none{
				color: #A9A9A9;
			}
			.img-frame{
				width: 140px;
				height: 140px;
				float: left;
				border: 1px solid #d4d4d4;
				background: #fff;
				margin-right: 10px;
				margin-top: 10px;
				position: relative;
				overflow: hidden;
				&:nth-child(5){
					margin-right: 0;
				}
				&:nth-child(9){
					margin-right: 0;
				}
				.img-close-wrap{
					width: 100%;
					height: 100%;
					background: fade(#000,50);
					position: relative;
					color: white;
					opacity: 0;
					transition: .25s;
					-moz-transition: .25s;
					-webkit-transition: .25s;
					z-index: 1;
					cursor: pointer;
					visibility: hidden;
				}
				&:hover{
					.img-close-wrap{
						visibility: visible;
						opacity: 1;
					}					
				}
				.upload-img{
					width: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					z-index: 0;
				}
				.upload-inp{
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 1;
					opacity: 0;
					left: 0;
					top: 0;
				}
			}			
		}
		.upload-btn{
			height: 40px;
			text-align: center;
			border: none;
			background: #4A4A51;
			color: white;
			margin-top: 20px;
		}
	}
}
.upload-progress{
	width: 100%;
	background: #434349;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
	z-index: 100;
	.actionCon {
		 overflow:hidden;
		 width:970px;
		 height:150px;	 
  	}
	.actionType7 {
		 position:relative;
		 width:80px;
		 height:80px;
		 margin:35px 350px;
		 box-sizing:border-box;
	}
	.actionType7 .pacman_1,
	.actionType7 .pacman_2 {
		 width:0;
		 height:0;
		 border-right:40px solid transparent;
		 border-top:40px solid #FF8C24;
		 border-left:40px solid #FF8C24;
		 border-bottom:40px solid #FF8C24;
		  border-radius:50%;
	}
	.actionType7 .pacman_1 {
		 animation:ratatePacman1 .33s infinite;
	}
	.actionType7 .pacman_2 {
		 margin-top:-80px;
		 animation:ratatePacman2 .33s infinite;
	}
	.actionType7 .circle {
		 position:absolute;
		 top:50%;
		 right:-150px;
		 width:0;
		 height:0;
		 margin-top:-4px;
		 border:8px solid #fff;
		 border-radius:50%;
		 transform:translateX(0);
		 -webkit-transform:translateX(0);
	}
	.actionType7 .circle.item1 {
		 animation:circle 1s .33s linear infinite;
		 -webkit-animation:circle 1s .33s linear infinite;
	}
	.actionType7 .circle.item2 {
		 animation:circle 1s .66s linear infinite;
		 -webkit-animation:circle 1s .66s linear infinite;
	}
	.actionType7 .circle.item3 {
		 animation:circle 1s .99s linear infinite;
		 -webkit-animation:circle 1s .99s linear infinite;
	}
	.actionType7 .circle.item4 {
		 animation:circle 1s 1.32s linear infinite;
		 -webkit-animation:circle 1s 1.32s linear infinite;
	}
	@keyframes circle {
		75% {
		 opacity:.6;
	}
	100%{
		-webkit-transform:translateX(-200px);
		transform:translateX(-200px);
		 opacity:0;
	}}
	@-webkit-keyframes circle {
		75% {
		 opacity:.6;
	}
	100%{
		-webkit-transform:translateX(-200px);
		transform:translateX(-200px);
		 opacity:0;
	}}
	@keyframes ratatePacman1 {
	0%,100%{
		 transform:rotate(90deg);
		 -webkit-transform:rotate(90deg);
	}
	50%{
		 transform:rotate(0deg);
		 -webkit-transform:rotate(0deg);
	}}
	@-webkit-keyframes ratatePacman1 {
	0%,100%{
		 transform:rotate(90deg);
		 -webkit-transform:rotate(90deg);
	}
	50%{
		 transform:rotate(0deg);
		 -webkit-transform:rotate(0deg);
	}}
	@keyframes ratatePacman2 {
	0%,100%{
		 transform:rotate(-90deg);
		 -webkit-transform:rotate(-90deg);
	}
	50%{
		 transform:rotate(0deg);
		 -webkit-transform:rotate(0deg);
	}}
	@-webkit-keyframes ratatePacman2 {
	0%,100%{
		 transform:rotate(-90deg);
		 -webkit-transform:rotate(-90deg);
	}
	50%{
		 transform:rotate(0deg);
		 -webkit-transform:rotate(0deg);
	}}
	.upload-ing{
		color: white;
		text-align: center;
	}
}
.active-left-tab{
	background: #4A4A51;
}
.orange{
	border: 2px solid fade(#ff8c24,70) !important;
}
.btn-select-img{
	background: #ff8c24;
	border: none;
	color: white;
	height: 40px;
	margin-top: 20px;
    float: left;
    width: 100%;
}
.canvas-before{		
    cursor: crosshair;	
	background-repeat: no-repeat;
	background-position: center;
    z-index: 99;    
}
.canvas-after{
    cursor: crosshair;
	position: absolute;
	left: 50%;
	top: 50%;	
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #bbb;
    z-index: 99;
	background: #f9f9f9;
}
.scroll-pd{
    padding: 15px;
}
.layer-list{
	position: absolute;
	cursor:move;
	width: 267px;				
	top:20px;
	/*transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);*/
	z-index: 35;
	.layer-list-header{
		padding: 5px 10px;
		background: #323235;
		width: 100%;
		float: left;
		color: white;			
	}
	.layer-list-cont{
		width: 100%;
		height: 130px;
		background: #bbb;
		overflow-y: scroll;
		overflow-x: hidden;
		.layer{
			width: 100%;
			float: left;
			height: 60px;
			border-bottom: 1px solid #323235;
			overflow: hidden;
		}
		.layer-hide{
			width: 59px;
			height: 59px;
			float: left;
			background: #F0F0F0;
			position: relative;
			overflow: hidden;
		}
		.layer-name{
			width: 190px;
			height: 100%;
			float: left;
			padding: 5px 15px;
			.layer-img-frame{
				height: 100%;
				width: 49px;
				float: left;
				position: relative;
				overflow: hidden;
				border: 1px solid #323235
			}
			.layer-name-txt{
				line-height: 49px;
				display: inline-block;
				float: left;
				margin-left: 20px;
			}
		}
	}
	
}
.bo{
	border: 1px solid #ff8c24;
}
.menu-cont-img-list{
	width: 100%;											
	float: left;
	.menu-cont-img-frame{
		width: 160px;
		height: 160px;
		position: relative;
		float: left;
		overflow: hidden;
		border: 1px solid rgba(0,0,0,0.5);	
		margin-left: 10px;
		margin-top: 10px;
		&:nth-child(1){
			margin-left: 0;
		}
		&:nth-child(3){
			margin-left: 0;
		}
		&:nth-child(5){
			margin-left: 0;
		}
		&:nth-child(7){
			margin-left: 0;
		}
		img{
			position: absolute;
			width: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
		}
		.img-count{
			position: absolute;
			width: 24px;		
			height: 24px;
			left: 0;
			top: 0;
			background: fade(#000,50);
			z-index: 2;
			text-align: center;
			.img-count-txt{
				color: #ff8c24;
			}
		}

	}
}
.menu-cont-title{
	color: #BBB;
	width: 100%;
	float: left;
	.effect-del{
		width: 17px;
		float: right;
		margin-top: 3px;
		cursor: pointer;
	}

}
.btn-orange{
    border:none;
    background: #ff8c24;
    height: 40px;
    color: white;
    font-weight: 300;
}
.go-effect{
	bottom: 0 !important;
}
.active-effect-tab{
	background: #fff !important;
}
.img-frame{
    width: 50%;
    padding-top: 50%;
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,1);	
    background: #fff;	
	.img-close-wrap{
		width: 100%;
		height: 100%;
		background: fade(#000,50);
		position: relative;
		color: white;
		opacity: 0;
		transition: .25s;
		-moz-transition: .25s;
		-webkit-transition: .25s;
		z-index: 1;
		cursor: pointer;
		visibility: hidden;
	}
	&:hover{
		.img-close-wrap{
			visibility: visible;
			opacity: 1;
		}					
	}
	.upload-img{
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		z-index: 0;
	}
	.upload-inp{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		opacity: 0;
		left: 0;
		top: 0;
	}
}
.menu-cont-img-zone{
	.menu-cont-img-zone-frame{
		width:160px;
		height: 160px;
		border: 1px solid #323235;
		background: #fff;		
		overflow: hidden;	
		position: relative;
		&:nth-child(1){
			margin-left: 0;
		}
		&:nth-child(3){
			margin-left: 0;
		}
		&:nth-child(5){
			margin-left: 0;
		}
		&:nth-child(7){
			margin-left: 0;
		}
		.img-close-wrap{
			width: 100%;
			height: 100%;
			background: fade(#000,50);
			position: relative;
			color: white;
			opacity: 0;
			transition: .25s;
			-moz-transition: .25s;
			-webkit-transition: .25s;
			z-index: 1;
			cursor: pointer;
			visibility: hidden;
		}
		&:hover{
			.img-close-wrap{
				visibility: visible;
				opacity: 1;
			}					
		}
		.upload-img{
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			z-index: 0;
		}
		.upload-inp{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			opacity: 0;
			left: 0;
			top: 0;
		}
	}
}
.color-correction{
    width: 100%;
    margin-top: 15px;
    float: left;
    .color-result{
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        background: #fff;
    }
    .color-bar{
        width: 100%;
        .ui-widget-content{
            background: #323235;
        }
        .ui-state-default{
            background: #fff;
        }
        .ui-state-active{
            background: #fff;
        }
        .ui-slider-handle{
            width: 1.1em;
            height: 1.1em;
            border: none;
            border-radius: 50%;
        }
        .color-bar-control{
            width: 100%;
            float: left;
            border-color:#4A4A51;
            margin-top: 10px;            
        }
        #red{
            margin-top: 0;
            .ui-slider-range {
                background: red;
            }
            .ui-slider-handle{
                border-color: red;
            }
        }
        #green{            
             .ui-slider-range {
                background: green;
            }
            .ui-slider-handle{
                border-color: green;
            }
        }
        #blue{
            
             .ui-slider-range {
                background: blue;
            }
            .ui-slider-handle{
                border-color: blue;
            }
        }
    }
}

.cut-img-add{
    padding:9px 20px;
    border: none;
    background: #323235;
}
.direction-list{
    width: 100%;
    float: left;
    border: 2px solid #323235;
    padding-top:25px;
    padding-bottom: 25px;
    text-align: center;
    color: #bbb;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;    
    margin-top: 10px;
    &:first-child{
        margin-top: 0;
    }
}
.direction-cont{
    width: 100%;    
    overflow: hidden;
    max-height: 0;
    float: left;
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-xs-4{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }
    .direction-item{
        width: 100%;
        cursor: pointer;
        padding-top: 100%;
        background: #323235;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.img-sort-list{    
    float: left;
    background: #323235;
    height: 210px;
    overflow: hidden;
    position: relative;
    .img-sort-item{
        width: 100%;
        padding-top: 18px;
        padding-bottom: 18px;
        background: #323235;
        border-bottom: 1px solid #4A4A51;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        color:#bbb;
        &:last-child{
            border-bottom: none;
        }
    }
}
.camera-effect{
    width: 100%;    
    float: left;
    margin-top: 20px;
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-xs-4{
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }
    .camera-effect-item{
        width: 100%;
        padding-top: 100%;
        background: #323235;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }  
}
.saved-image{
    width: 50%;
    position: absolute;
    min-height: 25px;
    background: #323235;
    left: 15px;
    top: 0;
    z-index: 1000;
    .saved-image-title{
        width: 100%;
        float: left;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        color: #bbb;
        background: #323235;
    }
    .saved-image-content{
        width: 100%;
        float: left;        
        background: #ddd;
        overflow: hidden;
    }
    .saved-image-item-wrapper{
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        width: 100%;
        float: left;
    }
    .saved-image-item{
        width: 10%;
        float: left;
        padding:5px;
        cursor: pointer;        
        .saved-image-item-image{
            background-size: contain;
            background-repeat: no-repeat;
            background-color:#bbb;
            background-position: center;
            width: 100%;
            padding-top: 90%;
            border: 1px solid #323235;
            float: left;
            margin-bottom: 3px;
            .delete-save-img{
                position: absolute;
                right: 0;
                top: 0;
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
}
.saved-image-scrolls{
    height: 106px;
}
.hide-saved-image{
    transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
}
.now-working{
    width: 15%;
    position: absolute;
    background: #323235;    
    right: 0;
    top: 0;
    z-index: 1000;
    .now-working-title{
        width: 100%;
        float: left;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        color: #bbb;
        background: #323235;
    }
    .now-working-content{
        width: 100%;
        float: left;        
        .now-working-content-scroll{
            width: 100%;
            height: 145px;
            background: #4a4a51;
            float: left;
            .now-working-content-item{
                width: 100%;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 10px;
                padding-right: 10px;
                float: left;
                background: #bbb;
                border-bottom: 1px solid #323235;
                color: #323235;
            }
        }
    }
    .now-working-success{
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
    .now-working-success-button{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;    
        border: 1px solid #4a4a51;
        background: none;
        color: #bbb;
        }
    }
}
.if-scroll-padding-right{
    width: 100%;
    float: left;
}

.hide-cont{
    overflow: hidden;
}

.effect-cut{
    width: 15%;
    position: absolute;
    background: #323235;    
    top: 0;
    right: 0;
    z-index: 1000;
    .effect-cut-title{
        width: 100%;
        float: left;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        padding-right: 10px;
        color: #bbb;
        background: #323235;
    }
    .effect-cut-content{
        width: 100%;
        float: left;        
        .effect-cut-content-scroll{
            width: 100%;
            height: 785px;
            background: #4a4a51;
            float: left;
            .effect-cut-content-item{
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                float: left;
                background: #bbb;
                border-bottom: 1px solid #323235;
                color: #323235;
                cursor: pointer;
                .effect-cut-sumnail{
                    width: 60px;
                    height: 30px;
                    float: left;
                    border: 1px solid #323235;
                }
                .effect-cut-time{
                    width: 100px;
                    height: 23px;
                    font-size: 0.9em;
                    border: none;
                    float: left;
                }
            }
        }
    }
    .effect-cut-success{
        width: 100%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
    .effect-cut-success-button{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;    
        border: 1px solid #4a4a51;
        background: none;
        color: #bbb;
        }
    }
}
.use-image{
    width: 50%;
    height: 50%;
    border: 1px solid #bbb; 
    z-index: 100;        
    background: #fff;
}

.use-image-canvas{                                
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;   
    width: 100%;
    float: left;
    border: 1px solid #e9e9e9;
}
.hide-use-image{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/resources/image/icon/delete.png');
}
.use-image-canvas-wrap{
    width: 50%; 
    position: absolute;
    left: 25%;
    top: 25%;    
    z-index: 500;
}
.use-image-canvas-header{
    width: 100%;
    float: left;
    height: 25px;
    background: #4a4a51;    
}
.canvas-append-zone{
    width: 100%;
    height: 100%;
    z-index: 99;    
    position: relative;
}

.canvas-wrap{
    position: absolute;
    left: 0;
    top: 0;    
    height: 100%;    
}
.wrap_BG{
    z-index: 499;
}
.canvas-codeBG{
    border: 1px solid rgb(233, 233, 233);
    background-size:contain !important;
}

.effect-modal{
    width: 100%;
    padding: 25px;
    position: relative;
    float: left;
    .effect-header{
        width:100%;
        color: #ff8c24;
        text-align: center;
        float: left;
        .effect-header-title{            
            font-size: 1.4em;
        }
    }
    .effect-content{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
        .effect-time{
            width: 80%;   
            border: 1px solid #bbb;
            background: #f9f9f9;
            height: 35px;
            text-align: center;
            font-size: 1.1em;
        }
    }
    .effect-footer{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
    }
}
.camera-effect-modal{
    .effect-header{
        width:100%;
        color: #ff8c24;
        text-align: center;
        float: left;
        .effect-header-title{            
            font-size: 1.4em;
        }
    }
    .effect-content{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
        .camera-effect-time{
            width: 80%;   
            border: 1px solid #bbb;
            background: #f9f9f9;
            height: 35px;
            text-align: center;
            font-size: 1.1em;
        }
    }
    .effect-footer{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
    }
}
.object-effect-modal{
    width: 100%;
    padding: 25px;
    position: relative;
    float: left;
    .effect-header{
        width:100%;
        color: #ff8c24;
        text-align: center;
        float: left;
        .effect-header-title{            
            font-size: 1.4em;
        }
    }
    .effect-content{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
        .object-effect-time{
            width: 80%;   
            border: 1px solid #bbb;
            background: #f9f9f9;
            height: 35px;
            text-align: center;
            font-size: 1.1em;
        }
    }
    .effect-footer{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
    }
}

.transform-effect-modal{
    width: 100%;
    padding: 25px;
    position: relative;
    float: left;
    .effect-header{
        width:100%;
        color: #ff8c24;
        text-align: center;
        float: left;
        .effect-header-title{            
            font-size: 1.4em;
        }
    }
    .effect-content{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
        .transform-effect-time{
            width: 80%;   
            border: 1px solid #bbb;
            background: #f9f9f9;
            height: 35px;
            text-align: center;
            font-size: 1.1em;
        }
    }
    .effect-footer{
        width: 100%;
        float: left;
        margin-top: 25px;
        text-align: center;
    }
}

.video-modal{
    width: 100%;
    float: left;
    .moveVideoResult{
        width: 100%;
    }
}
.disabled{
    opacity: .5;
    cursor: default;
}