@charset "UTF-8";
#toonwrap {
	width:90%;
	margin-top:60px;
	margin-left:30px;
	height:800px;
}
.Total {
	float:left;
}
.upload {
	width:33.5%;
	margin-left:20px;
	margin-top:-50px;
}
.toonupload-text{
	font-size:18px;
}
.movie-text{
	width: 50%;
	text-align: left;
	float: left;
}
.ellipsis{
	width:250px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top:10px;
}

.filebox{
	width:100%;
}
.filebox input[type="file"] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0;
}
.filebox label {
	display:inline-block;
	padding:.2em .75em;
	color:#fff;
	font-weight:normal;
	line-height:normal;
	vertical-align:middle;
	cursor:pointer;
	border:none;
	border-radius:.25em;
	margin-top:4px;
	background-color: #ff8c24;
}
/* named upload */
.filebox .upload-name {
	display:inline-block;
	padding:.5em .75em;
	line-height:normal;
	vertical-align:middle;
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	border-bottom-color:#e2e2e2;
	border-radius:.25em;
	width:83.3%;
	color:#666;
	padding-left:2px;
}
.label {
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4;
}
span.fl {
	margin-top:9px;
}
.btn-orange {
	border:none;
	background:#ff8c24;
	height:40px;
	color:white;
	font-weight:300;
}
#tooninfo_no,#tooninfo_genre,#tooninfo_title,#tooninfo_writer,#tooninfo_id {
	background-color:#fff;
	border-bottom:1px solid #ccc;
	color:#000;
	font-size:15px;
	padding-left:0;
}
#tooninfo {
	background-color:#fff;
	border-bottom:1px solid #ccc;
	color:#000;z
	font-size:15px;
	padding-left:0;
}
#tooncontent{
	background-color:#fff;
	border-bottom:1px solid #ccc;
	color:#000;
	font-size:15px;
	padding-left:0;
}
.tooni-head2 {
	color: #999;
}
.submit_toon{
	width:49%;
	float: left;
}
.cancel{
	width:49%;
	float: right;
}
/*폼 end*/

.toonlistWrap{
	width:60%;
	float: left;
	height:400px;
	overflow: auto;
}
#toonlist {
	width:100%;
	font-size:15px;
	float:left;
}
.head {
	background-color:#eee;
	border-top:1px solid #000;
	line-height: 40px;
}
#mtr {
	border-bottom:1px solid #ccc;
	
}
.list_wtr:hover {
	background-color:#eee;
}
#mth,#mtd {
	text-align:center;

}

.choice_box {
	width:15%;
}
.choice {
	width:60%;
	height:33px;
	border-radius:50px;
	background:none;
	color:#777;
	font-size:12px;
	border:1px solid #ccc;
	line-height:0;
	outline: none;
}
#change_no{
	float: right;
	width:20%;
}